@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: Lato;
}

h2 {
  display: none;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C7BEBE;
  border: none;
  min-width: 350px;
}

.recipe img {
  height: 178px;
  visibility: hidden;
}

.recipe .text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "title title title time" "ingredients ingredients description description";
  background-color: #E7E7E7;
  height: 186px;
  padding: 1rem;
}

.recipe .text-container h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  display: block;
}

.recipe .text-container .recipe-time {
  font-size: 1.8rem;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: time;
}

.recipe .text-container .recipe-time::before {
  padding-right: 0.5rem;
  font-family: FontAwesome;
  font-weight: 400;
  content: "\f017";
}

.recipe .text-container .recipe-ingredients {
  font-size: 1.2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ingredients;
}

.recipe .text-container .recipe-ingredients .ingredient {
  line-height: 0.9rem;
}

.recipe .text-container .recipe-ingredients .ingredient .ingredient-name {
  font-weight: bold;
}

.recipe .text-container .recipe-description-bloc {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: description;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  margin: 0;
  padding: 0;
}

.recipe .text-container .recipe-description-bloc .recipe-description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0;
  padding: 0rem;
}

.skip-link {
  overflow: hidden;
  position: absolute;
  left: -10000px;
  display: block;
  font-size: 1.5rem;
  position: static;
  display: none;
}

.skip-link.displayed {
  display: block;
}

.hashtag-links {
  border: solid;
  border-color: #68D9A4;
  border-radius: 500px;
  padding: 0.3rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  border-width: 0.05px;
  color: #D04F4F;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0.2rem;
  cursor: pointer;
}

.hashtag-links:focus {
  border-radius: 500px;
}

a {
  text-decoration: none;
  color: #D04F4F;
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    -webkit-transition: none;
    transition: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    -webkit-transition: none;
    transition: none;
  }
}

.accordion {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.accordion-item {
  background-color: #fff;
  margin: 2vw;
}

.accordion-item ul {
  -webkit-columns: 3;
          columns: 3;
}

.accordion-item .accordion-header {
  margin-bottom: 0;
  position: relative;
}

.accordion-item .accordion-header .accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 6vh;
  font-size: 1.8rem;
  text-align: left;
  border: none;
  border-radius: 5px;
  overflow-anchor: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
}

.accordion-item .accordion-header .accordion-button span {
  color: #FFFFFF;
}

.accordion-item .accordion-header .accordion-button#menu-ingredients {
  background-color: #3282F7;
}

.accordion-item .accordion-header .accordion-button#menu-appareil {
  background-color: #68D9A4;
}

.accordion-item .accordion-header .accordion-button#menu-ustensiles {
  background-color: #ED6454;
}

.accordion-item .accordion-header .accordion-button input {
  height: 100%;
  width: 200px;
  height: 4vh;
  padding: auto 2vw auto 1vw;
  margin-left: 1vw;
  display: none;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  opacity: 100%;
}

.accordion-item .accordion-header .accordion-button input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 50%;
}

.accordion-item .accordion-header .accordion-button input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 50%;
}

.accordion-item .accordion-header .accordion-button input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 50%;
}

.accordion-item .accordion-header .accordion-button input::placeholder {
  color: #FFFFFF;
  opacity: 50%;
}

.accordion-item .accordion-header .accordion-button input.show {
  display: block;
}

.accordion-item .accordion-header .accordion-button span {
  display: none;
  pointer-events: none;
  padding: 2vh 3vw 2vh 1vw;
}

.accordion-item .accordion-header .accordion-button span.show {
  display: block;
}

.accordion-item .accordion-header .accordion-button:hover {
  z-index: 2;
}

.accordion-item .accordion-header .accordion-button:focus {
  z-index: 3;
  outline: 0;
  border-radius: 5px 5px 0px 0px;
}

.accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #FFFFFF;
}

.accordion-item .accordion-header .accordion-button::after {
  position: absolute;
  right: 0px;
  top: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2rem;
  margin-left: 1rem;
  font-family: FontAwesome;
  font-weight: 200;
  content: "\f078";
  background-size: 1.25rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-filter: #FFFFFF;
          filter: #FFFFFF;
  color: #FFFFFF;
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
}

.accordion-body {
  padding: 1rem 1.25rem;
  min-height: 5rem;
  font-size: 1.8rem;
  border-radius: 0px 0px 5px 5px;
  color: #FFFFFF;
}

.accordion-body li {
  list-style-type: none;
}

.accordion-body.ingredients {
  background-color: #3282F7;
}

.accordion-body.appareil {
  background-color: #68D9A4;
}

.accordion-body.ustensiles {
  background-color: #ED6454;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
  border-top: 0;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

.show {
  display: block;
}

.input-group {
  height: 6vh;
  margin: 2vh 0vw;
}

.input-group .form-control {
  background-color: #E7E7E7;
  border-style: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.8rem;
  height: 100%;
}

.input-group .input-group-append {
  height: 100%;
}

.input-group .input-group-append .input-group-text {
  background-color: #E7E7E7;
  border-style: none;
  border-radius: 0px 5px 5px 0px;
  font-size: 1.8rem;
}

#search-resume {
  margin-top: 2vh;
  margin-left: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#search-resume span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.8rem;
}

#search-resume span#search-resume-ingredients li {
  background-color: #3282F7;
}

#search-resume span#search-resume-appareil li {
  background-color: #68D9A4;
}

#search-resume span#search-resume-ustensiles li {
  background-color: #ED6454;
}

#search-resume span li {
  position: relative;
  margin: 0 0.5vw;
  width: auto;
  border-radius: 5px;
  list-style-type: none;
  color: #FFFFFF;
  padding: 1vh 3vw 1vh 2vw;
}

#search-resume span li::after {
  position: absolute;
  right: 1vw;
  font-family: FontAwesome;
  font-weight: 400;
  content: "\f05c";
  color: #FFFFFF;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1400px) {
  body {
    width: 1400px;
    margin: auto;
  }
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.container-fluid {
  margin: 2vh 0vw;
}

.container-fluid h1 {
  margin: auto;
  padding-top: 1.5rem;
  color: #D04F4F;
  font-weight: bold;
  font-size: 3.2rem;
}

.location {
  color: #D04F4F;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

button,
[role="button"],
input {
  cursor: pointer;
}

button:focus,
[role="button"]:focus,
input:focus {
  outline: none;
  border-width: 4px;
  border-style: solid;
  border-color: #000000;
}

button:focus:focus-visible,
[role="button"]:focus:focus-visible,
input:focus:focus-visible {
  outline: none;
  border-width: 4px;
  border-style: solid;
  border-color: #000000;
}

a:focus {
  outline: none;
  border-width: 4px;
  border-style: solid;
  border-color: #000000;
}

.categories {
  font-size: 1.2rem;
}

.price {
  color: #68D9A4;
  font-size: 0.8rem;
}

#results {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 100px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 5vh;
  padding: 2vh 2vw;
}
/*# sourceMappingURL=style.css.map */