$color-primary: #D04F4F;
$color-secondary: #3282F7;
$color-tertiary :#68D9A4;
$color-fourthly :#ED6454;
$color-fifthly :#000000;
$color-sixthly :#FFFFFF;
$color-seventhly: #E7E7E7;
$color-eighthly: #C7BEBE;


$breakpoint-small-device-min: 576px;
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 992px;
$breakpoint-large-min:1200px;


$breakpoint-mobile-max: 575.98px;
$breakpoint-small-device-max: 767.98px;
$breakpoint-tablet-max: 991.98px;
$breakpoint-desktop-max: 1199.98px;
$breakpoint-large-max:1400px;

