$color-primary: #D04F4F;
$color-secondary: #3282F7;
$color-tertiary :#68D9A4;
$color-fourthly :#ED6454;
$color-fifthly :#000000;
$color-sixthly :#FFFFFF;
$color-seventhly: #E7E7E7;
$color-eighthly: #C7BEBE;


$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large:1200px;
$breakpoint-larger:1400px;


